body {
  background-color: #f1f3f5;
  font-family: 'Segoe UI', sans-serif;
}

.card {
  border: none;
  background-color: #fff;
  border-radius: 1rem;
}

input, select, textarea {
  margin-bottom: 1rem;
}

.btn-primary {
  border-radius: 0.8rem;
  font-weight: bold;
  padding: 0.6rem 1.5rem;
}

.text-muted {
  font-size: 0.9rem;
}
